.container {
  margin-top: 180px;
  width: 785px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.message {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #eaeaea;
  border: thick double #000000;
  padding: 8px;
  margin: 8px auto;
  text-wrap: stable;
  position: relative;
}

.signature {
  position: absolute;
  right: 12px;
  bottom: 8px;
}

.table_title {
  background-color: #1876d1;
  color: #ffffff;
  padding: 8px 80px;
  margin: 8px 0;
  text-align: center;
}

.table {
  border: solid 1px #000000;
  background-color: #eaeaea;
  margin: 8px 0;
}

.table td {
  border: solid 1px #000000;
  padding: 8px 16px;
  background-color: #eaeaea;
}

.table ul {
  padding: 0 32px;
  font-size: small;
}

@media (max-width: 785px) {
  .container {
    width: 80vw;
  }
}

@media (max-width: 648px) {
  .table td,
  .message {
    font-size: 0.75em;
    padding: 8px 12px;
  }

  .table ul,
  .signature {
    font-size: x-small;
    padding-right: 4px;
  }
}

@media (max-width: 320px) {
  .container {
    margin-top: 250px;
  }
}
