.footer {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100vw;
  height: 30px;
}

.copyright {
  display: flex;
  text-align: right;
}

.footer_logo {
  width: 310px;
  height: 100%;
  object-fit: contain;
}
