.home_contents {
  background-color: rgba(247, 238, 224, 0.8);
  text-align: center;
  width: 50%;
  border-radius: 5px;
  padding: 16px 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.content1, .content2, .content3, .content4 {
  flex: 0 1 calc(50% - 16px);
  box-sizing: border-box;
  margin: 8px;
  background-color: #FFFFFF;
  font-weight: bold;
  border: solid 2px #22a9c7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 16px;
}

.br {
  display: inline-block;
}

.content_icon {
  max-width: 150px;
  max-height: 150px;
}

@media(max-width: 900px) {
  .home_contents {
    width: 80%;
    place-content: center center;
  }
}

@media(max-width: 648px) {
  .home_contents {
    font-size: small;
  }

  .content_icon {
    max-width: 100px;
    max-height: 100px;
  }
}
