@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  min-height: 100vh;
  width: 100%;
  background-image: url(/hero_image3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 50%);
  background-blend-mode: lighten;  
}

.header_title {
  font-family: "Noto Serif JP", serif;
  font-size: xx-large;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  width: 90vw;
  padding: 8px 16px;
  background-color: rgba(232, 226, 48, 0.4);
  border: double 10px rgba(255, 165, 0, 40%);
  border-radius: 5px;
  color: rgb(50, 50, 50);
}

.sidebar_button {
  display: flex;
  justify-content: center;
}

.sidebar_text {
  color: #000000;
}

.side_menu {
  width: 90%;
}

@media (max-width: 1024px) {
  .header_title {
    font-size: x-large;
  }
}

@media (max-width: 648px) {
  .header_title {
    font-size: small;
  }
}

@media (max-width: 400px) {
  .main {
    margin-top: 100px;
  }

  .header_title {
    font-size: xx-small;
  }
}

@media (max-width: 320px) {
  .main {
    margin-top: 170px;
  }
}
